
head,body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+37,e9f241+81 */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(left,  #fefcea 37%, #e9f241 81%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #fefcea 37%,#e9f241 81%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #fefcea 37%,#e9f241 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#e9f241',GradientType=1 ); /* IE6-9 */


    
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color:gold;
    color: rgb(124, 123, 123);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-start;
    border-radius: 10px;
    
    }
   
  




/*.conteiner{
    display: flex;
    color: darksalmon;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    }
    .btn{
        background-color: dimgray;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 70px;

    } */
    ul{
        list-style: none;
        display: flex;
        text-decoration: none;
        flex-direction: row;
        margin-top: 5px;
        margin-right: 50px;
        margin-left: 600px;
        border-radius: 30px;
        padding:20px;
        
    }
    li{
        margin-top: 10px;
        margin-right: 15px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }

    .pai{
       
        justify-content:center;
        flex-flow:row wrap;
        margin-left: ;
    }

    .filho{
        border:4px solid grey ;
        border-radius: 20px;
        width: 300px;
        height: 250px;
        padding: 15px;
        margin: 20px 15px 20px 10px;
    }

    img{
        width: 200px;
        border-radius: 120%;
    }

    h1:hover{
        font-size: larger;
        color: black;

    }
    ul:hover{
        color: blanchedalmond;
    }

    footer{
        position:fixed;
        left: 95px; ;
        bottom: 0;
        align-items: center;
        background-color: gold;
        padding-bottom: 2%;
        border-radius: 100px 105px 200px 150px;
        
       
       /* top: 95%;
        transform: translate(-50%);
        margin-top: 10px;*/
        
    }
       
    
    @media(max-width: 700px){

        h1{
            display: none;
        }
        ul{
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
            text-decoration:none ;
            margin-left: 30px;

        }
        header {
            height: 45px;
        }
    }